<h1>Editing Dashboard Organization User</h1>

<%= render 'form', dashboard_organization_user: @dashboard_organization_user %>

<%= link_to 'Show', @dashboard_organization_user %> |
<%= link_to 'Back', dashboard_organization_users_path %>
