<h1>Editing Dashboard Organization User</h1>

<%= render 'form', organization_user: @organization_user %>

<%= link_to 'Show', @organization_user %> |
<%= link_to 'Back', dashboard_organization_users_path %>
