<div class="row justify-content-center align-items-center no-gutters">
  <div class="col">
    <%= image_tag 'mind.png', class: 'img-fluid ml-auto', width: '200px' %>
  </div>
  <div class="col text-left">
    <h1 class="text-primary"> MIND </h1>
  </div>
</div>
