<h1 class="h3 mb-2 text-gray-800">Planos de saúde e especialidades</h1>
<p class="mb-4">Aqui você pode visualizar e alterar os planos de saúde e suas respectivas especialidades.</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="m-0 font-weight-bold text-primary">Listagem de Planos de Saúde e Especialidades atendentes.</h5>
      </div>
      <div class="col text-right">
        <%= link_to 'Novo plano com especialidade', new_dashboard_organization_health_plan_expertise_path, class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="ohpe-datatable" class="table w-100" data-source="<%= dashboard_organization_health_plan_expertises_path(user: current_organization_user, format: :json) %>">
        <thead>
          <tr>
            <th>ID</th>
            <th>Especialidade</th>
            <th>Plano</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(() => {
    $('#ohpe-datatable').dataTable({
      'processing': true,
      'serverSide': true,
      'ajax': {
        'url': $('#ohpe-datatable').data('source')
      },
      'pagingType': 'full_numbers',
      'columns': [
        { 'data': 'id' },
        { 'data': 'expertise' },
        { 'data': 'health_plan' },
        { 'data': 'actions' }
      ]
    });
  });
</script>
