<h1 class="h3 mb-2 text-gray-800">Cadastrar Plano com Especialidade</h1>
<p class="mb-4">Preencha as informações abaixo para cadastrar uma nova especialidade em um plano.</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Formulário de Plano com Especialidade</h6>
  </div>
  <div class="card-body">
    <%= render partial: 'form' %>
  </div>
</div>
