<body>
  <div class="shards-app-promo-page--1">
    <!-- Welcome Section -->
    <div class="welcome d-flex justify-content-center flex-column mind-bg">
      <div class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark pt-4 px-0">
          <a class="navbar-brand mr-5" href="#">
            <%= image_tag 'mind.png', class: 'mr-2', alt: 'MIND', width: 50, height: 50 %>
            MIND
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Diferenciais</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
              </li>
            </ul>

            <!-- Social Icons -->
            <ul class="header-social-icons navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/mtayllan/hackathon-serpro"><i class="fa fa-github"></i></a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- / Navigation -->
      </div> <!-- .container -->

      <!-- Inner Wrapper -->
      <div class="inner-wrapper mt-auto mb-auto container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 mt-auto mb-auto mr-3" data-turbolinks="false">
              <h1 class="welcome-heading display-4 text-white">Encontre sua unidade ideal!</h1>
              <%= link_to app_path, class: 'btn btn-lg btn-primary btn-pill align-self-center text-white text-shadow' do %>
                <i class="fa fa-search"></i> Faça uma busca
              <% end %>

          </div>

          <div class="col-lg-4 col-md-5 col-sm-12 ml-auto">
            <%= image_tag 'mockup-site.png', class: 'iphone-mockup ml-auto', alt: 'MIND iPhone mockup' %>
          </div>
        </div>
      </div>
      <!-- / Inner Wrapper -->
    </div>
    <!-- / Welcome Section -->

    <!-- Features Section -->
    <div id="app-features" class="app-features section">
      <div class="container-fluid">
        <div class="row">

          <!-- App Features Wrapper -->
          <div class="app-features-wrapper col-lg-4 col-md-6 col-sm-12 py-5 mx-auto">
            <div class="container">
              <h3 class="section-title underline--left my-5">Nossos Diferenciais</h3>
              <div class="feature py-4 d-flex">
                <div class="icon text-white bg-primary mr-5"><i class="fa fa-compass"></i></div>
                <div>
                    <h5>Busca Simples e Rápida</h5>
                    <p>A aplicação dispõe de uma bela estrutura para auxiliar no fluxo de pesquisa, dispondo as opções e informações de uso intuitivo ao usuário.</p>
                </div>
              </div>

              <div class="feature py-4 d-flex">
                <div class="icon text-white bg-primary mr-5"><i class="fa fa-hospital-o"></i></div>
                <div>
                    <h5>Localização de Pronto-Atendimento</h5>
                    <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                </div>
              </div>

              <div class="feature py-4 d-flex">
                <div class="icon text-white bg-primary mr-5"><i class="fa fa-info"></i></div>
                <div>
                    <h5>Informações importantes para você ao seu alcance!</h5>
                    <p>O Mind agrupa diferentes informações em um único local.
                      Você consegue visualizar especialidades, planos de saúde,
                      as especialidades que cada plano de saúde cobre, contato,
                      se a unidade atende ou não pacientes com COVID, entre outras.</p>
                </div>
              </div>

              <div class="feature py-4 d-flex">
                <div class="icon text-white bg-primary mr-5"><i class="fa fa-pencil"></i></div>
                <div>
                    <h5>Painel Rápido</h5>
                    <p>Aos administradores de unidade, a aplicação fornece um painel simples
                      e direto para uma rápida atualização e cadastro de informações, para, assim, dispor uma melhor visualização para seus clientes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Features Section -->

    <!-- Contact Section -->
    <div class="contact section-invert py-4">
      <h3 class="section-title text-center m-5">Contato</h3>
      <div class="container py-4">
        <div class="row justify-content-md-center px-4">
          <div class="contact-form col-sm-12 col-md-10 col-lg-7 p-4 mb-4 card">
            <%= form_with url: solicitations_path do %>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="contactFormFullName">Nome</label>
                    <input name="solicitation[name]" class="form-control" id="contactFormFullName" placeholder="Insira seu nome">
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="contactFormEmail">Endereço de email</label>
                    <input name="solicitation[email]" type="email" class="form-control" id="contactFormEmail" placeholder="Insira seu endereço de email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Mensagem</label>
                      <textarea id="exampleInputEmail1" class="form-control mb-4" rows="10" placeholder="Insira sua mensagem" name="solicitation[message]"></textarea>
                  </div>
                </div>
              </div>
              <input class="btn btn-primary text-white text-shadow btn-pill d-flex ml-auto mr-auto" type="submit" value="Envie sua mensagem">
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- / Contact Section -->

    <!-- Footer Section -->
    <footer>
      <div class="container">
        <div class="text-center m-4">
          <span>Feito com ❤️ de 🏠</span>
        </div>
      </div>
    </footer>
    <!-- / Footer Section -->
  </div>
</body>
