<h1 class="h3 mb-2 text-gray-800">Editar Médico</h1>
<p class="mb-4">Atualize os dado do médico selecionado</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Formulário de Médico</h6>
  </div>
  <div class="card-body">
    <%= render partial: 'form' %>
  </div>
</div>
