/*
 *= require application
 *= require bootstrap/dist/css/bootstrap.min
 *= require shards
 *= require shards-extras
*/

.mind-bg {
  background-color: #2794D5;
}

.text-shadown {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.organization-card .media-body {
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 14px;
}

.organization-card .media img {
  height: 30px !important;
}

.organization-card .card-body {
  border-radius: 0 0 0.625rem 0.625rem;
}
