<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Healthapp</title>
    <link href="https://fonts.googleapis.com/css2?family=Share&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'app', media: 'all' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= yield %>
</html>
